<!DOCTYPE html>
<html>
  <head>
    <title>Quiz1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="row">
      <div class="col-4">
        <%= link_to root_path, class: 'logo' do %>
          <div class="logo">
            <br />
            <br />
            Quiz1
            <br />
          </div>
        <% end %>
      </div>
      <div class="col-4 title text-center">
        This is Quiz one
      </div>
      <div class="col-4 links">
   
      </div>
    </header>


    <hr />

    <br class="clear" />

    <%= yield %>
  </body>
</html>
